[Unit]
Description=Budgeting web application
Documentation=https://github.com/ethansaxenian/budgeting
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/budgeting
User=budgeting
Group=budgeting

EnvironmentFile=/etc/budgeting/budgeting.env

Restart=on-failure
RestartSec=5s

ProtectSystem=strict
PrivateTmp=yes
NoNewPrivileges=yes
ProtectHome=yes
PrivateDevices=yes
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectClock=yes
RestrictNamespaces=yes
RestrictRealtime=yes
SystemCallArchitectures=native
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictSUIDSGID=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
CapabilityBoundingSet=
UMask=0027

[Install]
WantedBy=multi-user.target
